.backgroundContainer {
  color: black;
  background-color: #f0833a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngegg.com%2Fen%2Fpng-cixik&psig=AOvVaw0Mqsu1d37tE-aG5SkjqlIe&ust=1686896071152000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJDw6NvPxP8CFQAAAAAdAAAAABAI");
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
 
  
}

/* ------------------button------------------------ */
.generator-button {
  background: linear-gradient(to bottom right, #FFFFFF, #4dc2ff);
  border: 0;
  border-radius: 12px;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.generator-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.generator-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}