h1 {
font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;

}

p {
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}


.nextpageContainer {
    color: black;
    background-color: #f0833a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -2;
  }

  .name {
    font-size: 60px;
  }

  .randomPower {
    font-size: 60px;
  }

  .randomPowerValue {
    font-size: 68px;
    color: yellow;
    text-shadow: 0 0 5px yellow, 0 0 10px red, 0 0 20px red;
    
  }

  img {
    height: 150px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

  .canBeat {
    display: flex;
    flex-direction: row;
  }

  .cannotBeat {
    display: flex;
    flex-direction: row;
  }
